.navbar {
  background: transparent !important;
  border: none;
}
hr {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.45);
  margin: 0rem;
  background-color: red;
}
.banner {
  width: 100%;
  height:323px;
  padding: 0rem;
  display: block;
  padding-bottom: 0rem;
  border-bottom: 1px solid #00000033;
  margin-bottom:20px;
  padding:10px 0px
}
.custom-table {
  width: 60%;
  margin-left: 0;
  margin-right: auto;
}

.custom-table th,
.custom-table td {
  text-align: start;
}

.col-id {
  width: 10%;
  font-weight: 700;
}

.col-marca {
  width: 25%;
}

.col-linea {
  width: 25%;
}

.col-modelo {
  width: 40%;
}

